extends layout

block content
  h1= title
  p stores a network to use with routing algorithms that calculate a set of routes with minimal cost and time for delivery.

  p Swagger documentation is at: /docs/index.html
